
/.vs
/Inclock/Inclock/obj
/Inclock/Inclock.iOS/obj
/Inclock/Inclock/bin/Debug/netstandard2.0
/Inclock/Inclock.Android/bin/Debug
/Inclock/Inclock.Android/obj
/Inclock/Inclock.Android/Inclock.Android.csproj.user