<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAutenticador" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/inclock/autenticador"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutenticador"
                contract="Autenticador.IAutenticador" name="BasicHttpBinding_IAutenticador" />
        </client>
    </system.serviceModel>
</configuration>